@media all and (min-width: 768px) {
    .main-contain {
        display: flex;
    }

    .navside {
        position: sticky;
        top: 0;
        height: 100vh;
        background: #111418;
        width: 285px;
        display: inline-block;
    }

    .navbar-expand-md {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .navbar-brand {
        position: absolute;
        margin-top: -140px;
        width: 100%;
        color: whitesmoke;
        font-size: 24px;
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
    }

    .main-margina {
        margin-top: 70px;
    }

    .social-contact {
        position: absolute;
        bottom: 20px;
        width: 100%;
        text-align: center;
    }

    .social-contact i {
        color: rgb(193, 193, 193);
        font-size: 16px;
        margin-left: 5px;
        padding-left: 7px;
        padding-right: 7px;
        cursor: pointer;
        transition: all 0.2s ease;
    }

    /* .secondcol {
        max-width: 1421px !important;
    }

    .firstcol {
        max-width: 285px !important;
    } */
    .inn-content {
        display: block;
        margin: 0 auto;
        width: 55%;
        text-align: center;
    }
}