@media screen and (max-width: 480px) {
    .inn-content{
        padding-top: 0 !important;
        top: -20px;
        position: relative;
    }
    .iamgautam {
        font-weight: bold;
        font-size: 30px;
        color: white;
        margin: 0;
        font-family: 'poppins', serif;
        /* font-family: 'Arvo', serif; */
        word-spacing: 2px;
        position: relative;
        display: inline-block;
    }

    .backabout {
        font-family: 'arvo', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        word-spacing: 2px;
        margin-top: 40px;
        font-weight: bolder;
        font-size: 52px !important;
        text-align: center;
        opacity: 0.1;
        color: gray;
    }

    .knowmemore {
        position: absolute;
        top: 52px !important;
        font-family: 'poppins', sans-serif;
        font-size: 35px;
        text-align: center;
        display: block;
        width: 100%;
        font-weight: 600;
        letter-spacing: 1px;
        word-spacing: 1px;
        margin: 0;
    }

    .header-separator {
        /* border: 2px solid #00bda0; */
        height: 3px;
        background: #00bda0;
        width: 80px;
        display: block;
        margin: 0 auto;
        position: absolute;
        text-align: center;
        left: 39%;
        top: 105px !important;
        border-radius: 61px;
    }

    .icon-des {
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px !important;
    }

    .icon-des-content {
        display: inline-block;
        padding: 19px !important;
        font-family: 'poppins', sans-serif;
        padding-right: 0px !important;
        text-align: justify;
    }

    .mobile-text-center {
        text-align: center !important
    }
    .navbar-collapse .alinkfont {
        text-decoration: none;
        color: rgb(224, 224, 224);
        margin-bottom: 16px;
        font-family: 'Heebo', sans-serif;
        font-weight: 400;
        font-size: 17px !important;
        letter-spacing: 1px;
        transition: all 0.2s ease;
    }
}