@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');



/* .bg-dark {
    background-color: #111418 !important;
} */

/* .sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #151d28 !important;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
} */

/* .sidebar a.active {
    color: #04AA6D;
}

.sidebar a:hover:not(.active) {
    color: #04AA6D;
} */

div.content {
    margin-left: 300px;
    padding: 1px 16px;
    height: 1000px;
}

.my-img {
    max-width: 56%;
    display: block;
    outline: 7px solid #00d8a6a1;
    border-radius: 50%;
    border: 1px solid #ffe2e2;
    outline-offset: 5px;
    margin: 63px auto;
}

.navbar-collapse a{
    text-decoration: none;
    font-size: 18px;
    color: whitesmoke;
    margin-bottom: 10px;
}


.navbar-collapse {
    flex-direction: column;
}

.facebooki:hover{
    color: #3b5998;
}
.twitteri:hover{
    color: #66b1ff;
}
.instagrami:hover{
    color: #fd5949;
}
.githubi:hover{
    color: rgb(136, 136, 136);
}

.alinkfont{
    font-family: 'Philosopher', sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
}